@charset "UTF-8";
html,body{
	margin: 0;
	pardding: 0;
	font-family: roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	}
#nav{
	background:#151c51;
	height:60px;
	width:100%;
	position:fixed;
}
#nav-content{
    height:60px;
    width:960px;
	margin:0 auto;
	}
#nav-content ul {
    height:60px;
    margin:0;
    padding:0;
}
#nav-content li {
    height:60px;
    margin:0;
    padding:0 30px;
	float: right;
	list-style:none;
	line-height:60px;
	color:#FFFFFF;
	font-size:16px;
	font-family:roboto;
	font-weight:300;
}
	.logo {
	height: 60px;
	margin:0;
	padding:0 30px;
	float:left;
}
#nav-content li a {
    color:#EFEFEF;
    text-decoration:none;
    width:100%;
    height:100%;
}
#post {
    width:100%;
    height:600px;
	background: url(banner.jpg);
	background-position:center -100px;
	background-repeat: no-repeat;
	background-size: cover;
}
#about{
	width:100%;
	background: #f1f1f1;
}
.content {
    height:100%;
    margin:0 auto;
	padding: 60px 0;
    text-align:center;
	color: #EFEFEF;
	overflow:hidden;
	
}
.content h1{
	text-align: left;
	color: black;	
}
#about .content p{
	width: 900px;
	text-align: left;
	margin: 40px auto;	
	}


products start


#products{
	width:100%;
	margin:0 auto;
	
	}
	
	
#products .product1 {
	width:100%;
	background: url(../Elements/pic_ptt298.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	margin:0;
	height: 540px;
	list-style:none;
	}
    .product1 h1{
	   width:960px;
	}
    .product1 p{
	   width:960px;
	   }
    .product1 button{
	   background:#FFFFFF;
	   width:140px;
	   height:40px;
	   text-color:#000000;
	   font-family: roboto;
	   font-weight:400;
	   font-size: 0.8em;
	   border-color: #151c51;
	   border-size: 2px;
		}
		

#products .product2 {
	width:100%;
	background: url(../Elements/pic_syt.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	margin:0;
	height: 540px;
	list-style:none;
	}
	
    .product2 h1{
		width:960px;
	   text-align:right;
	
	   
	   }
    .product2 p{
	   width:960px;
	   text-align:right;
	   
	   }
	
    .product2 button{
	   background:#FFFFFF;
	   width:140px;
	   height:40px;
	   text-color:#000000;
	   font-family: roboto;
	   font-weight:400;
	   font-size: 0.8em;
	   border-color: #151c51;
	   border-size: 2px;
	   float:right;
		}
		
		
#products .product3 {
	width:100%;
	background: url(../Elements/pic_telereport.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	margin:0;
	height: 540px;
	list-style:none;
	}
    .product3 h1{
	   width:960px;
	}
    .product3 p{
	   width:960px;
	   }
    .product3 button{
	   background:#FFFFFF;
	   width:140px;
	   height:40px;
	   text-color:#000000;
	   font-family: roboto;
	   font-weight:400;
	   font-size: 0.8em;
	   border-color: #151c51;
	   border-size: 2px;
		}
		


#products .product4 {
	width:100%;
	background: url(../Elements/pic_cat6.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	margin:0;
	height: 540px;
	list-style:none;
	}
	
    .product4 h1{
		width:960px;
	   text-align:right;
	
	   
	   }
    .product4 p{
	   width:960px;
	   text-align:right;
	   
	   }
	
    .product4 button{
	   background:#FFFFFF;
	   width:140px;
	   height:40px;
	   text-color:#000000;
	   font-family: roboto;
	   font-weight:400;
	   font-size: 0.8em;
	   border-color: #151c51;
	   border-size: 2px;
	   float:right;
		}

#products .product5 {
	width:100%;
	background: url(../Elements/pic_17vatca.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	margin:0;
	height: 540px;
	list-style:none;
	}
    .product5 h1{
	   width:960px;
	}
    .product5 p{
	   width:960px;
	   }
    .product5 button{
	   background:#FFFFFF;
	   width:140px;
	   height:40px;
	   text-color:#000000;
	   font-family: roboto;
	   font-weight:400;
	   font-size: 0.8em;
	   border-color: #151c51;
	   border-size: 2px;
		}			


#contact{
	background-color: #151c51;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	}

	#contact h1{
	margin: 0 auto;
	padding-top: 60px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 60px;
	font-weight: 400;
	font-size: 42px;
	text-align: center;
	font-family: roboto;
	font-style: normal;
	color: #ffffff;
		}
	#contact .form{
		width:960px;
		margin:0 auto;
		}
	.form input{
		width:300px;
		height:40px;
		margin:10px auto;
		color:grey;
		font-family: roboto;
		font-size:14px;
		font-weight:300;
		padding-left: 5px;
		}
		
	#contact .buttom{
	background: #FFFFFF;
	width: 120px;
	height: 40px;
		text-align::center;
	padding: 5px 40px;
	margin: 12px;
	font-color: #151c51;
	text-decoration: none;
	text-align: center;
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	color: #151C51;
		}
	#contact .buttom: hover{
	background: #151C51;
	color: white;
	border-style: none;
		}
		
#footer{
	width: 100%;
	height: 200px;
	padding: 10px 0;
	background-color: #FFFFFF;
	color: #212121;
	}
	
#footer .footer-content {
    width:960px;
    margin:0 auto;
}
#footer .footer01 {
    width:400px;
    float:left;
	margin:10px;
}

#footer .footer-logo {
    width:260px;
    float:right;
}

#footer .footer-logo img {
    display:block;
    width:200px;
    margin:10px auto;
}
#footer .footer-logo img:hover {
    width:220px;
    margin:10px auto;
}
.button {
	font-style: normal;
	font-family: roboto;
	font-weight: 300;
	text-align: center;
}
